@model object
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
    <head>
        <title>Git'er Done</title>
            <script type="text/javascript" src="../../Content/../Scripts/jquery-1.5.1.js"></script>
            <script type="text/javascript" src="../../Content/../Scripts/jQuery.tmpl.js"></script>
            <script type="text/javascript" src="../../Content/../Scripts/knockout-1.2.1.js"></script>
            <script type="text/javascript" src="../../Content/../Scripts/MyScripts/Tasks.js"></script>
    </head>
    <body>
        <h1>Git'er Done</h1>
       <form data-bind="submit:addTask">
              Task <input type="text" data-bind="value: newTaskText" placeholder="Task Description"/>
              <input type="submit" value="Add">
              <input type="button" value="Save" data-bind="click:save">
              <ul data-bind="template: { name: 'taskTemplate', foreach: tasks }"></ul>
        </form>
    </body>
    <script type="text/x-jquery-tmpl" id="taskTemplate">
        <li>
            <input type="checkbox" data-bind="checked:isDone"/><input type="text" data-bind="value: name"/>    
        </li>
    </script>
</html>